<header>
  <div class="page-max-width d-flex flex-space-between flex-content-center">
    <div class="d-flex flex-items-center ml-0 mr-auto">
      <a class="logo d-inline-flex flex-items-center" href="https://www.mongock.io">
        <span class="mr-12">Mongock</span>
        <p class="text-left">
          <img src="/images/logo.png" width="15%" alt="Mongock">
        </p>  
       </a>
    </div>

    <nav class="d-flex flex-items-center ml-auto mr-0">
      <a class="mr-24" href="/">
        Home
      </a> 
      <a class="mr-24" href="/v5/professional" style="color: #05a18a;">
        Professional
      </a>
      <a ref="https://github.hcom/mongock/mongock" target="_blank" rel="nofolllow">
        {% include "icons/github.html" %}
        <span class="ml-8">GitHub</span>
      </a>
    </nav>
  </div>
</header>
