{% macro menuItem(targetPage) %}
  {% set pageUrlWithIndex = [page.url,"index.html"] | join %}
  <a class="menu-item {{ 'current-page' if (page.url == targetPage.url) or (pageUrlWithIndex == targetPage.url ) else '' }}"  href="{{ targetPage.url }}">
    {{ targetPage.title }}
  </a>
{% endmacro %}

{% macro menuRoot(targetPage) %}
  {% set pageUrlWithIndex = [page.url,"index.html"] | join %}
  <h7 class="menu-item">
    {% if targetPage.url %}
      <a class="menu-item {{ 'current-page' if (page.url == targetPage.url) or (pageUrlWithIndex == targetPage.url ) else '' }}"  href="{{ targetPage.url }}">
        {{ targetPage.title }}
      </a>
    {% else %}
      {{ targetPage.title }}
    {% endif %}
  </h7>
{% endmacro %}


<script>

const versions = [];
{% for versionedMenus in collections.versionedMenus %}
 // versions.push("{{ versionedMenus.value }}");
  versions.push({value: "{{ versionedMenus.value }}", index: "{{ versionedMenus.index }}" });

  {% if versionedMenus.default %}
    let defaultVersion = "{{ versionedMenus.value }}";
  {% endif %}
{% endfor %}

window.onload = function() {
  onLoad();
};

function onLoad() {
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  pickVersion(params.version);
}

function pickVersion(urlVersion) {
  const pickedVersion = urlVersion || defaultVersion;
  versions.forEach(version => {
    const htmlElement = document.getElementById(version.value);
    if(htmlElement) {
      if(pickedVersion == version.value) {
        htmlElement.style.display = "inline";
      } else {
        htmlElement.style.display = "none";
      }
    }
    
  });
}

function changeVersion() {
  var newVersion = document.getElementById("versionSelect").value;
  for(let i = 0 ; i < versions.length ; i++) {
    const version = versions[i];
    if(version.value == newVersion) {
      console.log("redirect to: " + version.index);
    }
  }
}

</script>






<aside class="side-menu">
  
  <select style="width: 100%" name="version" id="versionSelect" onchange="changeVersion()">
    {% for versionedMenus in collections.versionedMenus %}
      <option value="{{ versionedMenus.value }}">{{ versionedMenus.name }}</option>
    {% endfor %}
  </select>
  <br /><br />



  <nav class="menu-root">
    {% for versionedMenus in collections.versionedMenus %}
      <div id="{{ versionedMenus.value }}">
        {% for menuSection in versionedMenus.menuItems %} 
          {{ menuRoot(menuSection) }}
          <nav class="{{ menuSection.title }}">
            {% for pageItem in menuSection.pages %}
              {{ menuItem(pageItem) }}
            {% endfor %}
          </nav>
        {% endfor %}
      </div>  
    {% endfor %}
  </nav>
</aside>
