
/* CUSTOM STYLE */
.professional {
  color: white;
  padding: 8px;
	background-color: #ff9800;
	font-size: 15px;
  border-radius:10px;
	vertical-align: top;
}

.professional a {
  color: white;
  padding: 8px;
	font-size: 15px;
  border-radius:10px;
	vertical-align: top;
}

.professional a:hover {
  color: white;
	/* padding: 8px; */
	background-color: green;
	font-size: 15px;
  border-radius:10px;
	vertical-align: top;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f0f7fb;
	background-image: url(/images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.warning
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f9e7e5;
	background-image: url(/images/icons/Warning-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #c0392b;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.success
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #e7f6f0;
	background-image: url(/images/icons/Check-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #27ae60;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.tip
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fffbea;
	background-image: url('/images/icons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #f1c40f;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.noteAlt
{
	background-color: #f0f7fb;
	background-image: url(/images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #3498db;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.warningAlt
{
	background-color: #fcf7f2;
	background-image: url(/images/icons/Warning-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #e74c3c;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.successAlt
{
	background-color: #e7f6f0;
	background-image: url(/images/icons/Check-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #2ecc71;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

p.tipAlt
{
	background-color: #fffbea;
	background-image: url('/images/icons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #f1c40f;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}


/*Div styles*/

div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f0f7fb;
	background-image: url(/images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.warning
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f9e7e5;
	background-image: url(/images/icons/Warning-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #c0392b;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.success
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #e7f6f0;
	background-image: url(/images/icons/Check-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #27ae60;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.tip
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fffbea;
	background-image: url('/images/icons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #f1c40f;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.noteAlt
{
	background-color: #f0f7fb;
	background-image: url(/images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #3498db;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.warningAlt
{
	background-color: #fcf7f2;
	background-image: url(/images/icons/Warning-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #e74c3c;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.successAlt
{
	background-color: #e7f6f0;
	background-image: url(/images/icons/Check-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #2ecc71;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}

div.tipAlt
{
	background-color: #fffbea;
	background-image: url('/images/icons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 4px #f1c40f;
	line-height: 18px;
	overflow: hidden;
	padding: 15px 60px;
}





.teaser-links {
  margin: 24px 0 32px;
  padding: 0;
  list-style-type: none;
}

.teaser-links > li {
  margin-bottom: 24px;
}

.teaser-links p {
  margin: 0;
}

.table-of-contents {
  margin-bottom: 32px;
}

.table-of-contents ul {
  padding-left: 36px;
  list-style-type: circle;
}

article {
  font-size: 16px;
  line-height: 150%;
}

article.page-content {
  padding: 16px 0 24px;
}

article a {
  color: #5469b6;
  text-decoration: inherit;
  transition: color .2s;
}
article a:hover {
  color: #f44336;
}

article code {
  padding: 0.2em 0.4em;
  background: #f6f8fa;
}
article code[class*="language-"] {
  padding: 0;
}

article pre, article pre[class*="language-"] {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f7f7f9;
  border: 1px solid #eeeef2;
  border-radius: 3px;
  font-size: 85%;
}

article pre .highlight-line {
  height: 1.3em;
}

article h1, article h2, article h3 {
  line-height: 150%;
}
article h4, article h5, article h6, article h7 {
  line-height: 125%;
}

article h1 code, article h2 code, article h3 code, article h4 code, article h5 code, article h6 code, article h7 code {
  font-family: inherit;
}

article .header-anchor {
  position: absolute;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.8em;
  opacity: 0;
  transition: opacity .1s;
}

article h1:hover .header-anchor, article h2:hover .header-anchor {
  opacity: 1;
}
